.beautiful {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 360px;
  width: 100%;
  margin-bottom: 100px;
  margin-left: 180px;
  margin-right: 180px;
  margin-top: 180px;
}
.beautiful .textContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 501px;
}
.beautiful .textContainer .headSection {
  display: flex;
  flex-direction: column;
}
.beautiful .imgContainer {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 1250px) {
  .beautiful {
    display: flex;
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    margin: 0px;
    align-content: center;

  }
  .beautiful .imgContainer {
    width: 100%;
    border-radius: 5px;
  }

.beautiful .textContainer {
    text-align: center;
    width: 80%;
  }

}
