section.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: 200px;
}

.cardContainer .card {
  border-radius: 12px;
  background-color: #101010;
  border: 1px solid #6201d1;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 50px;
  justify-content: center;
  width: 50vh;
}
.cardContainer .card .cardHeader {
  display: flex;
  flex-direction: column;
}
.cardHeader .border {
  height: 4px;
  width: 40px;
  border-radius: 50px;
  background-color: #3e14d4;
}
.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.cardBody .infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.cardContainer .card .cardfooter {
  margin-top: auto; /* Le margin-top:auto pousse le footer en bas */
}

.cardfooter button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--hovered-link-color);
  color: white;
  cursor: pointer;
}
button.disabled {
  background-color: var(--cinder);
  cursor: not-allowed;
}
.card_title {
  font-size: 31px;
  font-family: Outfit;
  font-weight: 700;
  letter-spacing: 0em;
}
.cardBody img {
  width: 100%;
}
.cardBody .desc p {
  text-align: center;

}

@media (max-width: 1250px) {
  .cardContainer .card {
    margin: 10px;
  }
}
