footer.pre {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer.pre .left {
  display: flex;
  align-items: center;
  gap: 17px;
}
footer.pre .right {
  display: flex;
  flex-direction: column;
}

footer.next {
  padding: 50px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1250px) {
  footer.pre {
    flex-direction: column;
  }
  footer.pre .left {
    margin-bottom: 20px;
  }
}
