.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 284px;
  width: 92%;
  padding: 50px;
}

.headerContainer .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.headerContainer .left .desc {
  font-size: 35px;
  width: 30vw;
}
.headerContainer .left button {
  background-color: var(--hovered-link-color);
  outline: none;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 15vw;
  height: 5vh;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.headerContainer .right {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-size: 80px;
  font-family: Outfit;
  font-weight: 700;
  letter-spacing: 0em;
}

.desc {
  font-size: 20px;
  font-family: Outfit;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
}
.btn {
  font-size: 20px;
  font-family: Outfit;
  font-weight: 700;
  letter-spacing: 0.09em;
  line-height: 32px;
}

@media (max-width: 1250px) {
  .headerContainer {
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 150px;
    width: 100%;
  }
  .title {
    text-align: center;
  }
  .headerContainer img {
    width: 100%;
  }
  .headerContainer .left {
    align-items: center;
    text-align: center;
    gap: 3vh;
  }

  .headerContainer .left button {
    gap: 10px;
    width: 150px;
    border-radius: 8px;
    margin-top: 10px;
  }
  .headerContainer .left .desc {
    width: 70vw;
  }
}
