/* Basic navbar styling */
.navbar {
  background-color: #101010; /* Dark background */
  padding: 1px 30px;
  position: fixed;
  top: 0;
  z-index: 999; /* Keeps it above other elements */
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo styling */
.logo-image {
  width: 50px; /* Adjust to your desired size */
  margin-right: 10px;
}

/* Navigation links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: 20vh;
}

.nav-links li {
  display: inline-block;
}

.nav-links a {
  text-decoration: none;
  color: #d3d3d3; /* Light grey text */
  font-size: 16px;
  transition: color 0.3s ease;
}

/* Hover effect */
.nav-links a:hover {
  color: #ffffff;
}

.navtitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navtitletext {
  font-size: 35px;
}

@media (max-width: 1250px) {
  .navbar{
    padding: 0;
  }
  .navbar-container {
    flex-direction: column;
  }
  .nav-links {
    margin-right: 0;
    padding-left: 0;
  }
}
