.secure {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 500px;
  margin-bottom: 100px;
}
.secure .textContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 500px;
}
.secure .textContainer .headSection {
  display: flex;
  flex-direction: column;
}
.secure .imgContainer {
  padding-right: 95px;
}

@media (max-width: 1250px) {
  .secure {
    flex-direction: column;
    justify-content: flex-end;
    gap: 100px;
  }

  .secure .textContainer {
    width: 90%;
    text-align: center;
  }

  .secure .imgContainer {
    padding-right: 0px;
  }
  .secure .imgContainer img {
    width: 100%;
  }
}
