
@media (max-width: 576px){
    .container {
        min-width: 540;
    }
    .navbar-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .grid {
      width: 100%;
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
    
      display: contents;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-direction: row;
      flex-wrap: wrap;
    }
}

@media (min-width: 576px) {
    .container {
      max-width: 540px;
    
    }
    .navbar-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
      }
      
    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        list-style: none;
      }
      
      .navbar-nav * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
      }
      
      .navbar-nav a {
        position: relative;
        color: rgb(132, 0, 255);
        padding: 0.5rem 0.8rem;
        text-decoration: none;
      }
      
      .navbar-nav a:before,
      .navbar-nav a::after{
        position: absolute;
        height: 15px;
        width: 15px;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        opacity: 0;
      } 
      
      .navbar-nav a:before {
        right: 0;
        top: 0;
        border-right: 3px solid #8c03fc;
        border-top: 3px solid #8c03fc;
        -webkit-transform: translate(-100%, 50%);
        transform: translate(-100%, 50%);
      }
      
      .navbar-nav a:after {
        left: 0;
        bottom: 0;
        border-left: 3px solid #8c03fc;
        border-bottom: 3px solid #8c03fc;
        -webkit-transform: translate(100%, -50%);
        transform: translate(100%, -50%);
      }
      
      .navbar-nav a:hover,
      .navbar-nav .home a{
        color: #ffffff;
      }
      
      .navbar-nav a:hover:before,
      .navbar-nav .home a:before,
      .navbar-nav a:hover:after,
      .navbar-nav .home a:after {
        -webkit-transform: translate(0%, 0%);
        transform: translate(0%, 0%);
        opacity: 1;
      }
  }