---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import GPL from "../components/gpl.md";
---

<Layout title="GNU General Public License">
  <Container>
    <div class="mx-auto prose prose-lg dark:prose-invert mt-14 dark:text-gray-200 
                prose-p:text-justify prose-headings:text-center">
      <GPL />
    </div>
  </Container>
</Layout>
