---
import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Legal Notice - AxOS">
  <Container>
    <div class="mx-auto prose prose-lg dark:prose-invert mt-14 dark:text-gray-200 prose-p:text-justify prose-headings:text-center">
      <h1>Legal Notice</h1>

      <h2>Site Publisher</h2>
      <p>
        The <strong>AxOS</strong> website is published as part of the AxOS project.  
        Publication Manager: <em>Adrian Arjoca</em>, known as <em>Ardox</em>.  
        Contact: <a href="mailto:ardox@axos-project.com">ardox@axos-project.com</a>
      </p>

      <h2>Hosting</h2>
      <p>
        This site is hosted by:  
        <br /> <strong>GitHub Pages</strong>  
        GitHub, Inc., 88 Colin P Kelly Jr St, San Francisco, CA 94107, USA  
        <br /> <a href="https://pages.github.com">https://pages.github.com</a>.
        <br /> The large files storage is provided by a VPS from the service 
        <a href="https://datalix.eu">datalix.io</a>.
      </p>

      <h2>Intellectual Property</h2>
      <p>
        Unless otherwise stated, all content (texts, images, source code) on the
        <strong>AxOS</strong> website or github repositories is distributed under the free software
        license <a href="/licence">GNU General Public License v3</a>.
      </p>

      <h2>Disclaimer</h2>
      <p>
        The information provided on this site is for general information purposes only.  
        The publisher cannot be held responsible for any errors or omissions.
        Use of this site is at the user’s own risk.
      </p>

      <h2>Personal Data</h2>
      <p>
        No personal data is collected without the user’s knowledge.  
        This site does not use cookies for advertising purposes.
        Conforming to the General Data Protection Regulation (GDPR), users have the right to access, rectify, and delete their personal data.
        As this site does not collect any personal data, there is no data to access, rectify, or delete.
      </p>

      <h2>Contact</h2>
      <p>
        For any inquiries, you can contact the site owner at:  
        <a href="mailto:ardox@axos-project.com">ardox@axos-project.com</a>
        <br /> The postal address can be requested via email.
      </p>
    </div>
  </Container>
</Layout>
