---
import Button from "@components/ui/button.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

interface MenuItem {
	title: string;
	path: string;
	children?: MenuItem[];
}

export const menuitems: MenuItem[] = [
	{
		title: "Docs",
		path: "/docs",
	},
	{
		title: "Blog",
		path: "/blog",
	},
	{
		title: "Discord",
		path: "https://discord.gg/xQdtDBFmsy",
	},
	{
		title: 'Github',
		path: 'https://github.com/AxOS-project'
	}
];
---

<div
	x-data="{open: window.innerWidth < 768 ? false : true}"
	class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8 z-10 md:pt-2 relative">
	<div class="p-4 flex flex-row items-center justify-between">
		<a
			href="/"
			class="flex gap-3 items-center text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline">
			<!-- <Icon name="logo" width="30" /> -->
			AxOS
		</a>
	</div>
	<nav
		:class="{'flex': open, 'hidden': !open}"
		x-show="open"
		x-transition:enter="transition ease-out duration-200"
		x-transition:enter-start="opacity-0 transform scale-90"
		x-transition:enter-end="opacity-100 transform scale-100"
		x-transition:leave="transition ease-in duration-200"
		x-transition:leave-start="opacity-100 transform scale-100"
		x-transition:leave-end="opacity-0 transform scale-90"
		class="md:mt-0 lg:pl-8 md:items-center flex-grow pb-4 md:pb-0 flex-col gap-2 transition-all ease-out md:transition-none md:justify-center md:flex-row hidden">
		<div class="flex flex-col flex-grow text-center gap-2 md:justify-center md:items-center md:flex md:flex-row md:mx-auto">
			{
				menuitems.map((item) =>
						<Link
							href={item.path}
							style="hover"
							size="sm"
							data-path={item.path}>
							{item.title}
						</Link>
				)
			}
		</div>
		<div class="mt-4 md:mt-0 flex flex-col md:flex-row gap-4">
			<Link href="https://github.com/axos-project/axos/releases/latest" class="md:px-3 md:py-2 leading-6">
				Download AxOS
			</Link>
		</div>
	</nav>
</div>
