---

import Link from "@components/ui/link.astro";

---

<div class="relative isolate pt-14 dark:bg-stone-950">
	<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
		<svg
			class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
			viewBox="0 0 1155 678">
			<path
				fill="url(#9b2541ea-d39d-499b-bd42-aeea3e93f5ff)"
				fill-opacity=".3"
				d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
			</path>
			<defs>
				<linearGradient
					id="9b2541ea-d39d-499b-bd42-aeea3e93f5ff"
					x1="1155.49"
					x2="-78.208"
					y1=".177"
					y2="474.645"
					gradientUnits="userSpaceOnUse">
					<stop stop-color="#9089FC"></stop>
					<stop offset="1" stop-color="#FFD580"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div class="sm:pt-10 ">
		<div class="mx-auto max-w-7xl">
			<div class="mx-auto max-w-2xl text-center">
				<h1 class="text-4xl font-bold tracking-tight text-black dark:text-white sm:text-6xl">Are you ready ?</h1>
				<h3 class="text-2xl font-bold mt-6 text-lg leading-8 text-gray-900 dark:text-gray-100">
					To install AxOS, just select the image you need, right below!
				</h3>

				<div class="border-b-2 mt-6 p-10">
					<p class="mt-6 text-lg leading-8 text-gray-900 dark:text-gray-100 pb-10">
						Before you start, you could maybe make a donation to help us keep the project alive, and to help us improve it ♥️<br>
					</p>
					<p class="mb-6">
						<iframe src="https://github.com/sponsors/AxOS-project/card" title="Sponsor AxOS-project" height="90" width="600" style="border-radius: 10px;"></iframe>
					</p>
					<p class="mb-6">
						<Link href="https://www.paypal.com/donate/?hosted_button_id=HHPCNL6F7VSFY">
							Or click here to donate via PayPal
						</Link>
					</p>
				</div>


                <div class="mt-6 p-10">
                    <p class="text-lg leading-8 text-gray-900 dark:text-gray-100 pb-10">
                        We strongly recommend you to read the <a class="font-bold underline" href="https://github.com/AxOS-project/AxOS/releases/latest">release notes</a> before installing AxOS, to take note of some potential warnings and important information regarding the installation process.
                    </p>
                    <div class="border border-gray-300 p-6 rounded">
                        <div class="text-center">
                            <h4 class="text-xl font-semibold mb-4 dark:text-white">AxOS 25.08</h4>
							<div class="space-y-2">
								<Link href="https://dl.axos-project.com/AxOS-25.08-1-x86_64.iso" class="block">Download here</Link>
								<Link href="https://github.com/AxOS-project/AxOS/releases/latest" class="block">Release notes</Link>
								<div class="flex justify-center mt-2">
									<div class="flex items-center space-x-2">
										<a id="sha-text" class="text-sm font-mono text-gray-600 dark:text-gray-300 cursor-text select-all">
											SHA256: 334c1...df197
										</a>
										<button
											onclick="navigator.clipboard.writeText('334c1b987a33e413c1675f1242f8d38ce83d3f63c19eb13bcbad5329330df197')"
											class="text-xs px-2 py-1 border rounded hover:bg-gray-200 dark:hover:bg-gray-700 transition text-gray-600 dark:text-gray-300"
										>
											Copy
										</button>
									</div>
								</div>							
							</div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>


<style>
	@keyframes slide {
		0% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
		50% {
			left: calc(50% - 30rem);
			transform: rotate(-180deg);
		}
		100% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
	}

	.animate-slide {
		animation: slide 25s infinite;
	}
</style>
