---
import Link from "@components/ui/link.astro";
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
	{
		title: "Beautiful",
		description: "One of the priority of AxOS is the beauty and modernity.",
		icon: "bx:bxs-palette",
	},
	{
		title: "Powerful",
		description: "AxOS has a minimal desktop environement to focus on power and lightweight.",
		icon: "bx:bxs-bolt",
	},
	{
		title: "Private",
		description: "Absolutely no data goes to the AxOS maintainers or any third parties.",
		icon: "bx:bxs-shield",
	},
	{
		title: "Complete",
		description: "AxOS's installer, Epsilon, can find any packages in the AUR and the repositories.",
		icon: "bx:bxs-file-find",
	},
	{
		title: "Independant",
		description: "AxOS is an independant project: no organisation behind.",
		icon: "bx:bxs-user",
	},
	{
		title: "Fully customizable",
		description: "Every aspects of the system can be changed, customized, from the appearence to the system itself.",
		icon: "bx:bxs-user",
	},
];
---

<div class="relative mx-auto max-w-5xl px-6 lg:px-8">
	<div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
		<dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-3">
			{
				features.map((item) => (
					<div class="flex flex-col">
						<dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-black dark:text-white">
							<div class="h-5 w-5 flex-none text-black dark:text-white">
								<Icon name={item.icon} />
							</div>
							{item.title}
						</dt>
						<dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-900 dark:text-gray-100">
							<p class="flex-auto">{(item.description)}</p>
							<p class="mt-6">
							</p>
						</dd>
					</div>
				))
			}
		</dl>
	</div>
</div>
